body{
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 34, 34);
    justify-content: center;
}
#calc-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(51, 51, 51);
}
#calc-btns{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
}
#calc-screen{
    display: flex;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
}